
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Chúng tôi cung cấp các</h1>
        <h1 class="mt-3 ml-4" data-aos="fade-up">giải pháp công nghệ</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">Chúng tôi sử dụng những công nghệ mới nhất xây dựng các Website hàng đầu</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="/home-public" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Bắt đầu</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="../../../assets/images/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Chúng tôi là</h3>
            <h2>ITSOL (IT Solutions & Resources ,.JSC)</h2>
            <p>
              Là doanh nghiệp CNTT hàng đầu tại Việt Nam. Chuyên về cung cấp giải pháp và nhân lực trong lĩnh vực CNTT. Với gần 10 năm trong lĩnh vực hoạt động.
            </p>
            <div class="text-center text-lg-start">
              <a href="home-public" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Đọc Tiếp</span>
                <i class="pi pi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="../../../assets/images/about.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- ======= Values Section ======= -->
  <section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Giá Trị Của Chúng Tôi</h2>
        <p>Đem những giá trị hiện tại  của bạn chuyển đổi công nghệ và nâng tầm chúng</p>
      </header>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="../../../assets/images/values-1.png" class="img-fluid" alt="">
            <h3>Lĩnh vực ngân hàng</h3>
            <p>Là đối tác chiến lược  quan trọng trọng với nhiều tập đoàn ngân hàng hàng đầu khu vực.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="../../../assets/images/values-2.png" class="img-fluid" alt="">
            <h3>Nghiên cứu phát triển</h3>
            <p>Đội ngũ phát triển nhiều dự án thiết thực trong giáo dục, mang lại nhiều giá trị, tiện ích.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="../../../assets/images/values-3.png" class="img-fluid" alt="">
            <h3>Nâng cấp bảo trì.</h3>
            <p>Bảo trì nâng cấp các hệ thống công nghệ cũ đáp ứng với xu hướng nhu cầu công nghệ mới nhất.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Tương Lai</h2>
        <p>Xây dựng những hệ thống, ứng dụng mang lại nhiều tiện ích cho con người</p>
      </header>

      <div class="row">

        <div class="col-lg-6">
          <img src="../../../assets/images/features.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
          <div class="row align-self-center gy-4">

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Giáo dục đời sống</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Quản lý nhân lực</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Trí tuệ nhân tạo</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Ngân hàng số</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Thương mại điện tử</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Quản lý tiêu dùng</h3>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- / row -->

      <!-- Feature Tabs -->
      <div class="row feture-tabs" data-aos="fade-up">
        <div class="col-lg-6">
          <h3>Các Website ứng dụng</h3>

          <!-- Tabs -->
          <ul class="nav nav-pills mb-3">
            <li>
              <a class="nav-link active" data-bs-toggle="pill" href="/home-public#tab1">Công nghệ</a>
            </li>
          </ul><!-- End Tabs -->

          <!-- Tab Content -->
          <div class="tab-content">

            <div class="tab-pane fade show active" id="tab1">
              <p>Chúng tôi sử dụng những công nghệ hàng đầu.</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>Xử lý dữ liệu</h4>
              </div>
              <p>Sử dụng những ngôn ngữ hàng đầu, cũng hệ quản trị cơ sở dữ liệu an toàn nhất.</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>Giao diện sử dụng</h4>
              </div>
              <p>Với đội ngũ thiết kế hàng đầu, chúng tôi đáp ứng những giao diện thân thiện người dùng, đẹp mắt.</p>
            </div><!-- End Tab 1 Content -->

          </div>

        </div>

        <div class="col-lg-6">
          <img src="../../../assets/images/features-2.png" class="img-fluid" alt="">
        </div>

      </div><!-- End Feature Tabs -->

      <!-- Feature Icons -->
      <div class="row feature-icons" data-aos="fade-up">
        <h3>Các ứng dụng dàn cho các thiết bị di động</h3>

        <div class="row">

          <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
            <img src="../../../assets/images/features-3.png" class="img-fluid p-4" alt="">
          </div>

          <div class="col-xl-8 d-flex content">
            <div class="row align-self-center gy-4">

              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="ri-line-chart-line"></i>
                <div>
                  <h4>Đội ngũ Android</h4>
                  <p>Đội ngũ chuyên nghiệp có nhiều kinh nghiệm trong nhiều dự án khác nhau.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="ri-stack-line"></i>
                <div>
                  <h4>Đội ngũ IOS</h4>
                  <p>Đội ngũ chuyên nghiệp có nhiều kinh nghiệm trong nhiều dự án khác nhau.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="ri-brush-4-line"></i>
                <div>
                  <h4>Đội ngũ Website</h4>
                  <p>Đội ngũ chuyên nghiệp có nhiều kinh nghiệm trong nhiều dự án khác nhau.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="ri-magic-line"></i>
                <div>
                  <h4>Đội ngũ Android</h4>
                  <p>Đội ngũ chuyên nghiệp có nhiều kinh nghiệm trong nhiều dự án khác nhau.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="ri-command-line"></i>
                <div>
                  <h4>Đội ngũ IOS</h4>
                  <p>Đội ngũ chuyên nghiệp có nhiều kinh nghiệm trong nhiều dự án khác nhau.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                <i class="ri-radar-line"></i>
                <div>
                  <h4>Đội ngũ Website</h4>
                  <p>Đội ngũ chuyên nghiệp có nhiều kinh nghiệm trong nhiều dự án khác nhau.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Feature Icons -->
    </div>
  </section><!-- End Features Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Danh Mục Đầu Tư</h2>
        <p>Các Dự Án Của Chúng Tôi>
      </header>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Tất Cả
            <li data-filter=".filter-app">App</li>
            <!--            <li data-filter=".filter-card">Card</li>-->
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 1"><i class="pi pi-plus"></i></a>
                <a href="https://ongbut.edu.vn/" title="More Details"><i class="pi pi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="pi pi-plus"></i></a>
                <a href="https://ongbut.edu.vn/" title="More Details"><i class="pi pi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 2"><i class="pi pi-plus"></i></a>
                <a href="https://ongbut.edu.vn/" title="More Details"><i class="pi pi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 2"><i class="pi pi-plus"></i></a>
                <a href="https://ongbut.edu.vn/" title="More Details"><i class="pi pi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 2"><i class="pi pi-plus"></i></a>
                <a href="https://ongbut.edu.vn/" title="More Details"><i class="pi pi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 3"><i class="pi pi-plus"></i></a>
                <a href="https://ongbut.edu.vn/" title="More Details"><i class="pi pi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 1</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 1"><i class="pi pi-plus"></i></a>
                <a href="https://ongbut.edu.vn/" title="More Details"><i class="pi pi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="pi pi-plus"></i></a>
                <a href="https://ongbut.edu.vn/" title="More Details"><i class="pi pi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="pi pi-plus"></i></a>
                <a href="https://ongbut.edu.vn/" title="More Details"><i class="pi pi-link"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Quản Lý</h2>
        <p>Ban Giám Đốc</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="../../../assets/images/team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="https://www.facebook.com/groups/287553211395337/user/100000417246743" target="_blank"><i class="pi pi-twitter"></i></a>
                <a href="https://www.facebook.com/groups/287553211395337/user/100000417246743" target="_blank"><i class="pi pi-facebook"></i></a>
                <a href="https://www.facebook.com/groups/287553211395337/user/100000417246743" target="_blank"><i class="pi pi-instagram"></i></a>
                <a href="https://www.facebook.com/groups/287553211395337/user/100000417246743" target="_blank"><i class="pi pi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Quang Ngô</h4>
              <span>CEO PGT Company</span>
              <p>ITSOL là một trong những Công ty CNTT hàng đầu tại Việt Nam, chuyên cung cấp các giải pháp và nguồn lực trong lĩnh vực CNTT.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="../../../assets/images/team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="https://www.facebook.com/groups/287553211395337/user/1840270099" target="_blank"><i class="pi pi-twitter"></i></a>
                <a href="https://www.facebook.com/groups/287553211395337/user/1840270099" target="_blank"><i class="pi pi-facebook"></i></a>
                <a href="https://www.facebook.com/groups/287553211395337/user/1840270099" target="_blank"><i class="pi pi-instagram"></i></a>
                <a href="https://www.facebook.com/groups/287553211395337/user/1840270099" target="_blank"><i class="pi pi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Phạm Thu Hương</h4>
              <span>HR Director ITSOL</span>
              <p>ITSOL là một trong những Công ty CNTT hàng đầu tại Việt Nam, chuyên cung cấp các giải pháp và nguồn lực trong lĩnh vực CNTT.</p>            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="../../../assets/images/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="https://www.facebook.com/groups/287553211395337/user/100000186000149/" target="_blank"><i class="pi pi-twitter"></i></a>
                <a href="https://www.facebook.com/groups/287553211395337/user/100000186000149/" target="_blank"><i class="pi pi-facebook"></i></a>
                <a href="https://www.facebook.com/groups/287553211395337/user/100000186000149/" target="_blank"><i class="pi pi-instagram"></i></a>
                <a href="https://www.facebook.com/groups/287553211395337/user/100000186000149/" target="_blank"><i class="pi pi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Cường DOJI</h4>
              <span>Chairman & CEO ITSOL</span>
              <p>ITSOL là một trong những Công ty CNTT hàng đầu tại Việt Nam, chuyên cung cấp các giải pháp và nguồn lực trong lĩnh vực CNTT.</p>            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="../../../assets/images/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="https://www.facebook.com/groups/287553211395337/user/1611115653" target="_blank"><i class="pi pi-twitter"></i></a>
                <a href="https://www.facebook.com/groups/287553211395337/user/1611115653" target="_blank"><i class="pi pi-facebook"></i></a>
                <a href="https://www.facebook.com/groups/287553211395337/user/1611115653" target="_blank"><i class="pi pi-instagram"></i></a>
                <a href="https://www.facebook.com/groups/287553211395337/user/1611115653" target="_blank"><i class="pi pi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Cường Lê</h4>
              <span>CEO Catalina Company</span>
              <p>ITSOL là một trong những Công ty CNTT hàng đầu tại Việt Nam, chuyên cung cấp các giải pháp và nguồn lực trong lĩnh vực CNTT.</p>            </div>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Team Section -->

  <!-- ======= Recent Blog Posts Section ======= -->
  <section id="recent-blog-posts" class="recent-blog-posts">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Bài Viết</h2>
        <p>Những Bài Viết hay</p>
      </header>

      <div class="row">

        <div class="col-lg-4">
          <div class="post-box">
            <div class="post-img"><img src="../../../assets/images/blog/blog-1.jpg" class="img-fluid" alt=""></div>
            <span class="post-date">7-11-2022</span>
            <h3 class="post-title">Các công nghệ hàng đầu hiện nay mà sinh viên nên học</h3>
            <a href="home-public" class="readmore stretched-link mt-auto"><span>Đọc Thêm</span><i class="pi pi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="post-box">
            <div class="post-img"><img src="../../../assets/images/blog/blog-2.jpg" class="img-fluid" alt=""></div>
            <span class="post-date">7-11-2022</span>
            <h3 class="post-title">Xu hướng chuyển đổi công nghệ thời kỳ 4.0</h3>
            <a href="home-public" class="readmore stretched-link mt-auto"><span>Đọc Thêm</span><i class="pi pi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="post-box">
            <div class="post-img"><img src="../../../assets/images/blog/blog-3.jpg" class="img-fluid" alt=""></div>
            <span class="post-date">7-11-2022</span>
            <h3 class="post-title">Môi trường quyết định lớn tới chất lượng công việc</h3>
            <a href="home-public" class="readmore stretched-link mt-auto"><span>Đọc Thêm</span><i class="pi pi-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Recent Blog Posts Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Giới Thiệu</h2>
        <p>Về Công Ty Chúng Tôi</p>
      </header>

      <div class="row gy-4">
        <div class="col-lg-6">
          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Địa Chỉ</h3>
                <p>Tòa 3A, Duy Tân,<br>Cầu Giấy, Hà Nội, Việt Nam</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone"></i>
                <h3>Điện Thoại</h3>
                <p>+84 904 29 05 83</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Email</h3>
                <p>cuongdc@itsol.com</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock"></i>
                <h3>Giờ Làm Việc</h3>
                <p>Thứ 2 - Thứ 6<br>08:30 AM - 06:00 PM</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <form action="forms" method="post" class="php-email-form justify-content-md-center">
            <div class="row gy-4 form-group">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Họ và Tên" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Email của bạn" required>
              </div>

              <div class="col-md-12 mt-3">
                <input type="text" class="form-control" name="subject" placeholder="Chủ đề" required>
              </div>

              <div class="col-md-12 mt-3">
                <textarea class="form-control" [style]="{'max-height':'250px'}" name="message" rows="6" placeholder="Bình luận" required></textarea>
              </div>

              <div class="col-md-12 mt-3 text-center">
                <div class="loading">Đang Tải</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Gửi</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section><!-- End Contact Section -->

</main><!-- End #main -->
